node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

/src/generated/prisma
*.db
.next/
tsconfig.tsbuildinfo
data/spaces/**
dev.db-shm
dev.db-wal
参考例子/README.md
yarn.lock
docs/Truman的“训虾”文档：最佳实践建模/Truman的“训虾”文档：最佳实践建模.md
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/10. 整体：数字生命架构全量指南.md
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/12. 入门：USER雇主索引.md
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/13. 入门：AGENT运行协议.md
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/14. 进阶：IDENTITY谈吐人设.md
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/15. 进阶：TOOLS工具地图.md
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/16. 高阶：SOUL元灵魂宪法.md
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/17. 高阶：HEARTBEAT心跳引擎.md
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/20. 整体：创建AI初始画像指南.md
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 1.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 2.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 3.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 4.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 5.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 6.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 7.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 8.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 9.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 10.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 11.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 12.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 13.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 14.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 15.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 16.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 17.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 18.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 19.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 20.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 21.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 22.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 23.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 24.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 25.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 26.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 27.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 28.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 29.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image 30.png
docs/Truman的“训虾”文档：最佳实践建模/图片和附件/image.png
